:root {
	--font-family: 'poppins';
	--bg-color: rgba(243, 243, 243, 1);
	--font-size-title: 20px;
	--font-size-subtitle: 19px;
	--font-size-paragraph: 5px;
	--button-color: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
}

@media (max-width: 1024px) {
	#homeContainer {
		align-items: center;
		background-image: url('public/backgroundHome.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		height: 100vh;
		width: 100%;
	}

	#buttonsHomeContainer {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-left: 10rem;
	}

	#orderBtn {
		background: var(--button-color);
		border-radius: 10px;
		border: none;
		font-family: var(font-family);
		font-size: 22px;
		font-weight: 600;
		height: 4.375rem;
		margin: 2rem 0 2rem 0;
		text-decoration: none;
		width: 25.578rem;
	}

	#kitchenBtn {
		background: #f5f5f5;
		border-radius: 10px;
		border: none;
		font-family: var(font-family);
		font-size: 22px;
		font-weight: 600;
		height: 4.375rem;
		margin-bottom: 2rem;
		text-decoration: none;
		width: 25.578rem;
	}
}
