@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

:root {
	--bg-color: rgba(243, 243, 243, 1);
	--button-color: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
	--font-family: 'poppins';
	--font-size-paragraph: 5px;
	--font-size-subtitle: 19px;
	--font-size-title: 20px;
}

* {
	margin: 0;
	padding: 0;
	/*outline: 1px solid limegreen !important;*/
}

#root {
	height: 100%;
	width: 100%;
}

h1 {
	font-family: var(--font-family);
	font-size: var(--font-size-title);
}

h2 {
	font-family: var(--font-family);
	font-weight: 500;
	margin-bottom: 0.5rem;
}

h3 {
	font-family: var(--font-family);
	font-weight: 600;
}

h4 {
	font-family: var(--font-family);
	font-weight: 500;
	margin-top: 1rem;
}
