:root {
	--bg-color: rgba(243, 243, 243, 1);
	--button-color: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
	--font-family: 'poppins';
	--font-size-paragraph: 5px;
	--font-size-subtitle: 19px;
	--font-size-title: 20px;
}
/* NavBar style */
#orderContainer {
	background-color: var(--bg-color);
	height: 100%;
	width: 100%;
}

#headerContainer {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
	display: flex;
	height: 5rem;
	justify-content: space-around;
	margin-top: 2.5rem;
	width: 100%;
}

#searchBar {
	border-radius: 0.825rem;
	border: 1px solid rgba(217, 217, 217, 0.76);
	height: 3.11rem;
	width: 21.745rem;
}

#searchBar::placeholder {
	color: rgba(67, 60, 62, 0.5);
	font-family: var(--font-family);
	font-size: 16px;
	padding: 0% 6% 0% 6%;
}

#btnClose {
	border-radius: 0.625rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 1);
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 500;
	height: 2.869rem;
	width: 7rem;
}

/* Contenedores de los productos*/

#menuContainer {
	display: flex;
	flex-direction: row;
}

#productsContainer {
	display: flex;
	flex-direction: column;
	width: 70%;
}

#justCardProducts {
	display: flex;
	flex-flow: row wrap;
	/*	padding: 1.5rem;*/
}

/* Seleccionar mesa style */

.tableSection {
	margin: 3.5rem 0rem 0rem 1.128rem;
}

.optionContainer {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
	height: 5.789rem;
	width: 52.3rem;
}

.buttonsContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 1.5rem 2rem 1.5rem 1.5rem;
}

.tableButton {
	background: #f5f5f5;
	border-radius: 0.625rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: var(--font-size-subtitle);
	font-weight: 550;
	height: 2.869rem;
	width: 7.984rem;
}

/* Seleccionar menu style */
.menuButton {
	background: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
	border-radius: 0.625rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: var(--font-size-subtitle);
	font-weight: 600;
	height: 2.869rem;
	width: 11rem;
}

/* Tarjetas de productos */
.productCard {
	background: rgba(255, 255, 255, 0.78);
	border-radius: 0.625rem;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.07);
	width: 14.703rem;
	margin: 2rem 2.6rem 2em 1.3rem;
}

#productInformation {
	padding: 0.8rem 0.8rem 1rem 0.8rem;
}

.productCard p {
	color: rgba(0, 0, 0, 0.66);
	font-family: var(--font-family);
	font-size: 15px;
	margin-top: 0.5rem;
}

.productCard h3 {
	margin-top: 0.8rem;
}

.imageAndButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem 0rem 1rem 1rem;
}

#addButton {
	height: 2rem;
	width: 2rem;
	display: flex;
}

#proteinContainer {
	display: flex;
	flex-flow: row wrap;
	padding: 0rem 0.8rem 1rem 0.8rem;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.proteinBtn {
	height: 2rem;
	width: 6rem;
	background: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.625rem;
	font-family: var(--font-family);
	font-weight: 500;
	margin-top: 1rem;
}

/* Sección de cuenta */

#billContainer {
	background: rgba(16, 16, 16, 1);
	border-radius: 1.25rem;
	display: flex;
	flex-direction: column;
	height: 52.523rem;
	margin-top: 6rem;
	width: 22.638rem;
	align-items: center;
}

#tableSectionContainer {
	height: 15%;
	margin-top: 2rem;
}

.tableInformation {
	width: 21.313rem;
	height: 4.521rem;
}

.tableInformation h2 {
	color: rgba(237, 229, 116, 1);
	margin-left: 1.3rem;
}

#currentOrder {
	background-color: rgba(35, 35, 35, 1);
	display: flex;
	flex-direction: row;
	color: #ffffff;
	justify-content: space-between;
	border-radius: 0.625rem;
	padding: 1.2rem;
}

#currentOrder h1 {
	font-weight: 300;
	font-size: 22px;
}

#clearButton {
	font-family: var(--font-family);
	font-size: 18px;
	color: rgba(217, 217, 217, 1);
	background-color: rgba(35, 35, 35, 1);
	border: none;
}

#addedProducts {
	height: 57%;
}

#totalContainer {
	flex-direction: column;
	display: flex;
}

.priceContainer {
	background: rgba(65, 64, 64, 1);
	border-radius: 0.625rem;
	width: 21.313rem;
	height: 4.521rem;
	margin-bottom: 2rem;
}

.informationContainer {
	display: flex;
	flex-direction: row;
	color: #ffffff;
	justify-content: space-between;
	padding: 1.4em;
}

#priceContainer h3 {
	font-family: var(--font-family);
	font-size: var(--font-size-title);
	font-weight: 200;
	color: #ffffff;
}

.sendOrderButton {
	background: linear-gradient(90deg, #ede574 0%, #e1f5c4 100%);
	border: none;
	border-radius: 0.625rem;
	width: 21.308rem;
	height: 3.5rem;
	font-family: var(--font-family);
	font-size: var(--font-size-title);
	font-weight: 600;
}
