@media (max-width: 1024px) {
  body {
    background-image: url("assets/backgroundHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #root {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
}
